---
layout: layouts/default.njk
title: Deine Spur
description: Nachhaltig leben lernen
permalink: index.html
---

<div class="text-center my-24">
  <img class="block mx-auto mb-4" src="logo.png" alt="Deine Spur">
  <h1 class="text-5xl leading-normal m-0">Deine Spur</h1>
  <p class="text-4xl leading-none m-0">Nachhaltig leben lernen</p>
</div>

<div class="max-w-4xl mx-auto my-16">
  {{ introduction | safe }}
</div>

<div class="flex items-end justify-center mt-24 mb-32">
  <img class="hidden md:block md:w-32 lg:w-40 xl:w-auto mr-4" src="leaves-left.png">
  <div class="text-center leading-tight text-2xl sm:text-4xl lg:text-4xl xl:text-5xl">
    Wir brauchen nicht <span class="font-bold">Wenige</span>,<br>
    die <span class="underline-green">perfekt</span> nachhaltig leben,<br>
    sondern <span class="font-bold">Viele</span>,<br>
    die es <span class="underline-green">unperfekt</span> machen.
  </div>
  <img class="hidden md:block md:w-32 lg:w-40 xl:w-auto ml-4" src="leaves-right.png">
</div>

<div id="Workshops" class="max-w-5xl mx-auto my-24">
  <img class="block w-auto h-16 mx-auto" src="logo.png">
  <div class="max-w-4xl mx-auto my-12">
    {{ beforeWorkshopBlock | safe }}
  </div>
  <div style="--aspect-ratio: 16/9;">
    <iframe width="640" height="360" src="https://www.youtube.com/embed/q2Pkm7kEWOk"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
  </div>
  <ul class="grid grid-cols-1 sm:grid-cols-2 gap-12 my-16">
    {% for workshop in workshops %}
      <li>
        <img class="block w-24 mx-auto mb-8" src="{{ workshop.icon }}">
        <h3 class="lg:text-3xl mb-4 text-center">{{ workshop.title }}</h3>
        {{ workshop.description | safe }}
        <p><a href="mailto:office@deinespur.at?subject={{ workshop.title }}">Jetzt Workshop vereinbaren</a></p>
      </li>
    {% endfor %}
  </ul>
  <div class="max-w-4xl mx-auto my-12 list-item-footprint">
    {{ afterWorkshopBlock | safe }}
  </div>
</div>

<div id="Team" class="max-w-4xl mx-auto text-center my-24">
  <img class="block w-auto h-16 mx-auto" src="logo.png">
  <h2 class="lg:text-3xl mt-12">Unser Team</h2>
  <ul class="grid grid-cols-1 sm:grid-cols-2 gap-12 my-16">
    {% for member in team %}
      <li>
        <img class="w-full" src="{{ member.image }}" alt="{{ member.name }}">
        <div class="text-left my-12">
          {{ member.biography | safe }}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
