---
layout: layouts/default.njk
pagination:
  data: posts
  size: 1
  alias: post
permalink: "/blog/{{ post.slug }}/index.html"
---

<article class="prose prose-sm sm:prose lg:prose-lg xl:prose-2xl mx-auto my-12">
  <h1>{{ post.title }}</h1>
  {{ post.text | safe }}
</article>
